<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Login</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding class="main-content">

    <p class="header">ACKERMANS</p>
    <div class="login-page">
        <div class="form">
            <form class="register-form">
                <input type="text" placeholder="name" />
                <input type="password" placeholder="password" />
                <input type="text" placeholder="email address" />
                <button>create</button>
                <p class="message"> <a href="#">Sign In</a></p>
            </form>
            <form class="login-form">
                <input type="text" placeholder="username" />
                <input type="password" placeholder="password" />
                <button (click)="login()">Login</button>
                <p class="message"><a href="#">Create an account</a></p>
            </form>
        </div>
    </div>
</ion-content>