    @import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';
    $breakpoint-alpha: 480px;
    page-booking {
        .content {
            background-color: #76b852;
        }
        .header {
            font-size: 38px;
            text-align: center;
            font-weight: bolder;
            color: green;
            font-family: serif;
        }
        .sub-header {
            font-size: 25px;
            font-weight: bold;
            padding-left: 10px;
        }
        .card {
            border-radius: 4px;
        }
        .grid {
            background: #FFFFFF;
            color: black;
            border-radius: .4em;
            overflow: hidden;
            font-family: Montserrat, sans-serif;
            //font-size: 20px;
            padding: 6px;
            margin: 1em 0;
            min-width: 300px;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }
        .col-cont {
            padding-left: 16px;
            width: 6.5em;
            font-weight: normal;
            font-size: 15px;
        }
        .col-cont,
        .row-cont {
            margin: .5em 1em;
            @media (min-width: $breakpoint-alpha) {
                padding: 1em !important;
            }
        }
        .row-cont {
            color: #4CAF50;
            font-weight: bold;
        }
    }