<!--
  Generated template for the BookingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Booking Variances</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <p class="header">ACKERMANS</p>

    <div class="padding-top:2px;"></div>

    <p class="sub-header">Manage Variances</p>

    <ion-grid class="grid" (click)="details()">
        <ion-row>
            <ion-col col-6>
                <ion-icon ios="ios-play" md="md-play"></ion-icon>
                <span class="row-cont"><b>PO :</b></span> {{po}}
            </ion-col>
            <ion-col col-6>
                <ion-icon ios="ios-play" md="md-play"></ion-icon>
                <span class="row-cont"><b>DC :</b></span> {{dc}}
            </ion-col>
        </ion-row>
        <div style="padding-top:6px;"></div>
        <ion-row>
            <ion-col>
                <ion-icon ios="ios-pricetags" md="md-pricetags"></ion-icon><span class="row-cont"><b>  STYLE :</b> </span></ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="col-cont">{{style}}</ion-col>
        </ion-row>
        <div style="padding-top:6px;"></div>
        <ion-row>
            <ion-col>
                <ion-icon ios="ios-podium" md="md-podium"></ion-icon>
                <span class="row-cont"><b>DEPARTMENT:</b></span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="col-cont">{{department}}</ion-col>
        </ion-row>
    </ion-grid>
    <hr>


</ion-content>