    @import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';
    $breakpoint-alpha: 480px;
    page-recieve-det {
        .content {
            background-color: #76b852;
        }
        .header {
            font-size: 38px;
            text-align: center;
            font-weight: bolder;
            color: green;
            font-family: serif;
        }
        .sub-header {
            font-size: 25px;
            font-weight: bold;
            padding-left: 10px;
        }
        .card {
            border-radius: 4px;
        }
        .grid {
            background: #FFFFFF;
            color: black;
            border-radius: .4em;
            overflow: hidden;
            font-family: Montserrat, sans-serif;
            //font-size: 20px;
            padding: 6px;
            margin: 1em 0;
            min-width: 300px;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }
        .col-cont {
            padding-left: 16px;
            width: 6.5em;
            font-weight: normal;
            font-size: 15px;
        }
        .col-cont,
        .row-cont {
            margin: .5em 1em;
            @media (min-width: $breakpoint-alpha) {
                padding: 1em !important;
            }
        }
        .row-cont {
            color: #4CAF50;
            font-weight: bold;
        }
        .button {
            font-size: 18px;
            font-weight: bold;
            background: #fe8c00;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #f83600, #fe8c00);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        .v-type {
            color: #CD3700;
            padding-left: 5px;
            font-size: 14px;
        }
        .numeric {
            font-size: 26px;
            color: #CD3700;
        }
        .view-button {
            background: #fc4a1a;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #f7b733, #fc4a1a);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    }