<!--
  Generated template for the ReturnPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Booking Variance Details</ion-title>
        <!-- <ion-buttons end class="buttons">
            <button ion-button class="button">Back</button>
        </ion-buttons> -->
    </ion-navbar>

</ion-header>
<ion-content padding class="content">
    <p class="header">ACKERMANS</p>
    <ion-grid class="grid">
        <ion-row>
            <ion-col col-12>
                <ion-icon ios="ios-play" md="md-play"></ion-icon>
                <span class="row-cont"><b>Purchase Order</b></span>{{po}}
            </ion-col>

        </ion-row>
        <div style="padding-top:6px;"></div>
        <ion-row>
            <ion-col>
                <ion-icon ios="ios-pricetags" md="md-pricetags"></ion-icon><span class="row-cont"><b>  STYLE :</b> </span></ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="col-cont">{{style}}</ion-col>
        </ion-row>
        <div style="padding-top:6px;"></div>
        <ion-row>
            <ion-col>
                <ion-icon ios="ios-podium" md="md-podium"></ion-icon>
                <span class="row-cont"><b>DEPARTMENT:</b></span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="col-cont">{{department}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-icon name="arrow-forward"></ion-icon>
                <span class="row-cont"><b>VARIANCE TYPE:</b></span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <span class="v-type">Date In DC And Booking Quantity Variance</span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6>
                <span class="row-cont">Intro DC Date</span>
            </ion-col>
            <ion-col col-6>
                <span class="row-cont">Days Difference</span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 class="col-cont">
                {{dc_date}}
            </ion-col>
            <ion-col col class="col-cont">
                <span class="numeric">{{days}}</span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6>
                <span class="row-cont">Booking Date</span>
            </ion-col>
            <ion-col>
                <span class="row-cont">HighestVariance</span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 class="col-cont">
                {{book_date}}
            </ion-col>
            <ion-col col class="col-cont">
                <span class="numeric">{{highest_var}}%</span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6>
                <span class="row-cont">Expected Qty</span>
            </ion-col>
            <ion-col col-6>
                <span class="row-cont">Booked Qty</span>
            </ion-col>

        </ion-row>
        <ion-row>
            <ion-col col-6 class="col-cont">
                {{exp_qty}}
            </ion-col>
            <ion-col class="col-cont">
                {{booked_qty}}
            </ion-col>

        </ion-row>
    </ion-grid>

    <ion-buttons>
        <button ion-button block class="view-button" (click)="view_details()">View SKU Details</button>
    </ion-buttons>


</ion-content>