<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Variances Details</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <p class="header">ACKERMANS</p>
    <p class="sub-header">SKU DETAILS</p>
    <!--   <ion-buttons end class="buttons">
        <button ion-button small class="button">Back</button>
    </ion-buttons> -->
    <ion-grid class="grid">
        <ion-row>
            <ion-col col-7>
                <span class="row-cont"> SKU </span>
            </ion-col>
            <ion-col>
                <span class="row-cont"> VARIANCE</span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="col-cont" col-6>
                {{sku}}
            </ion-col>
            <ion-col class="col-cont">
                {{variance}}%
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-7>
                <span class="row-cont">COLOR</span>
            </ion-col>
            <ion-col>
                <span class="row-cont"> SIZE</span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="col-cont" col-6>
                {{color}}
            </ion-col>
            <ion-col class="col-cont">
                {{size}} MTHS
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-7>
                <span class="row-cont">EXP QTY</span>
            </ion-col>
            <ion-col>
                <span class="row-cont"> ACT QTY</span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="col-cont" col-6>
                {{exp_qty}}
            </ion-col>
            <ion-col class="col-cont">
                {{act_qty}}
            </ion-col>
        </ion-row>


    </ion-grid>

</ion-content>